* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --logotext-color: #ffffff;
  --logo-bg-col: rgba(0, 0, 0, 0.5);
  --info-bg-col: #f9fafb;
  --form-bg-col: #ffffff;
  --input-border: #e5e7eb;
  --invalid-border: #fb4e4e;
  --pine-col: #596d48;
  --darkpine-col: #37442d;
  --shadow-col: #9e9e9e;
  --main-font: 'Roboto', sans-serif;
}

@font-face {
  font-family: norseBold;
  src: url(./fonts/Norse-Bold.otf);
}

.container {
  display: flex;
  flex-direction: column;
}

.img-credits {
  display: none;
}

img {
  width: 100%;
}

.logo-container {
  background: no-repeat url(./images/unsplash.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
}

#leaves {
  object-fit: fill;
  display: none;
}

#logo {
  width: clamp(50px, 10vw, 75px);
  margin-right: 0.5rem;
}

.logo-text {
  font-family: norseBold;
  font-size: clamp(2rem, 10vw, 3rem);
  color: var(--logotext-color);
}

main {
  padding-top: 3em;
  font-family: var(--main-font);
  background-color: var(--info-bg-col);
}

.info {
  font-weight: 700;
}

.form-container {
  background-color: var(--form-bg-col);
  margin-top: 3em;
  padding: 2em 0;
  box-shadow: 0 4px 5px var(--shadow-col);
}

.header {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 1em;
}

.parent-row,
.header,
.info,
div.button-container {
  width: 90%;
  margin: 0 auto;
}

.form-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label,
input {
  width: clamp(250px, 20vw, 300px);
  font-size: 14px;
}

label {
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

input {
  margin-bottom: 1.5em;
  padding: 0.25em;
  border: 1px solid var(--input-border);
  border-radius: 5px;
}

input:is(:invalid) {
  border: 1px solid var(--invalid-border);
}

.button-container {
  padding-top: 2em;
  font-size: 1rem;
  padding-bottom: 2em;
}

.submit-btn {
  color: var(--form-bg-col);
  font-weight: 700;
  appearance: none;
  border-style: none;
  font-size: 1rem;
  padding: 0.75em 2em;
  border-radius: 10px;
  background-color: var(--pine-col);
  margin-bottom: 2em;
}

.submit-btn:is(:active, :hover) {
  background-color: var(--darkpine-col);
}

#hyper-login {
  font-weight: 700;
  text-decoration: none;
  color: var(--pine-col);
}

@media (min-width: 600px) {
  .parent-row {
    display: flex;
    justify-content: space-around;
  }

  .form-row {
    width: 50%;
    align-items: flex-start;
  }
}

@media (min-width: 1000px) {
  .container {
    flex-direction: row;
  }

  #leaves {
    display: grid;
    overflow-y: hidden;
  }

  .img-container {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 450px;
  }

  #logo {
    width: clamp(50px, 10vw, 75px);
    margin-right: 0.5rem;
  }

  .img-credits {
    font-family: var(--main-font);
    text-align: center;
    color: var(--form-bg-col);
    font-size: 12px;
    display: block;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
  }

  .credits > a {
    color: var(--form-bg-col);
  }

  .logo-container {
    background: var(--logo-bg-col);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
  }

  .logo-text {
    font-family: norseBold;
    font-size: clamp(2rem, 10vw, 3rem);
    color: var(--logotext-color);
  }
}
